lab 10/flow-temperature-restful.json.txt.json
[{"id":"8930b4dd.4943f8","type":"tab","label":"Temperature RESTful API","disabled":false,"info":""},{"id":"e45596c4.00bd68","type":"arduino in","z":"8930b4dd.4943f8","name":"thermistor (A1)","pin":"1","state":"ANALOG","arduino":"b4543f4.a6ae6c","x":120,"y":200,"wires":[["7dc050b2.a7db7"]]},{"id":"30bcf0bc.830b6","type":"arduino in","z":"8930b4dd.4943f8","name":"pushBtn (pin 3)","pin":"3","state":"INPUT","arduino":"b4543f4.a6ae6c","x":940,"y":240,"wires":[["d4026c57.3c811"]]},{"id":"7dc050b2.a7db7","type":"function","z":"8930b4dd.4943f8","name":"Convert (A1) pin to Celsisus ","func":"var code=Number(msg.payload-512);\nvar cel = Number(25+code/11.3).toFixed(1);\nmsg.payload= cel;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":180,"wires":[["c76bd15d.c4297"]]},{"id":"c76bd15d.c4297","type":"rbe","z":"8930b4dd.4943f8","name":"block unless value change is greater than 0.2","func":"deadband","gap":"0.2","start":"","inout":"out","property":"payload","x":710,"y":140,"wires":[["38e18305.5bdd8c"]]},{"id":"38e18305.5bdd8c","type":"function","z":"8930b4dd.4943f8","name":"cache temperature","func":"var t = flow.set('Temperature', msg.payload);\ncontext.set(\"T\", t);\nmsg.cel = t;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":120,"wires":[[]]},{"id":"d4026c57.3c811","type":"debounce","z":"8930b4dd.4943f8","time":"500","name":"debounce (500ms)","x":1170,"y":240,"wires":[["3c7a2f94.85c04"]]},{"id":"3c7a2f94.85c04","type":"function","z":"8930b4dd.4943f8","name":"Cycle Button Click:0,1,2...","func":"var clickCount = flow.get(\"pbsState\") || 0;\nclickCount++;\nif (clickCount == 4) clickCount = 1;\nflow.set(\"pbsState\",clickCount);\nmsg.payload = clickCount;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1410,"y":240,"wires":[["54723ada.9309b4"]]},{"id":"ed39e530.642f18","type":"function","z":"8930b4dd.4943f8","name":"get cached temperature","func":"var x =  flow.get('Temperature');\n\nmsg.payload = x;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":400,"wires":[["2e555a1.ebce5a6"]]},{"id":"60adf964.7c08b8","type":"function","z":"8930b4dd.4943f8","name":"get cached temperature","func":"var x =  flow.get('Temperature');\nmsg.payload = x;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":440,"wires":[["2001cd8a.c45772"]]},{"id":"845e6a14.1002b8","type":"function","z":"8930b4dd.4943f8","name":"get cached temperature","func":"var x =  flow.get('Temperature');\nmsg.payload = x;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":480,"wires":[["afc7f5e.3c19408"]]},{"id":"2001cd8a.c45772","type":"function","z":"8930b4dd.4943f8","name":"convert to fahrenheit","func":"msg.payload= (msg.payload * 1.8 + 32).toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":440,"wires":[["2e555a1.ebce5a6"]]},{"id":"afc7f5e.3c19408","type":"function","z":"8930b4dd.4943f8","name":"convert to kelvin","func":"msg.payload = (msg.payload * 1 + 273.15).toFixed(1)\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":480,"wires":[["2e555a1.ebce5a6"]]},{"id":"327de431.ce094c","type":"http in","z":"8930b4dd.4943f8","name":"Http GET /temperature/now","url":"/temperature/now","method":"get","upload":false,"swaggerDoc":"17d2c23.c9e4c3e","x":140,"y":400,"wires":[["473f2a43.1a5044"]]},{"id":"54723ada.9309b4","type":"function","z":"8930b4dd.4943f8","name":"cache scale","func":"var temp = null;\nif (msg.payload == 1) {\n    temp = 'c';\n}\nelse if (msg.payload == 2) {\n    temp = 'f';\n}\nelse if (msg.payload == 3) {\n    temp = 'k';\n}\nelse {\n    temp = 'c';\n}\n\nflow.set('SCALE', temp);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1690,"y":240,"wires":[[]]},{"id":"473f2a43.1a5044","type":"switch","z":"8930b4dd.4943f8","name":"switch on Property: msg.req.query.scale","property":"req.query.scale","propertyType":"msg","rules":[{"t":"eq","v":"c","vt":"str"},{"t":"eq","v":"f","vt":"str"},{"t":"eq","v":"k","vt":"str"},{"t":"null"}],"checkall":"true","repair":false,"outputs":4,"x":200,"y":460,"wires":[["ed39e530.642f18"],["60adf964.7c08b8"],["845e6a14.1002b8"],["9974cd14.da33a"]]},{"id":"9974cd14.da33a","type":"function","z":"8930b4dd.4943f8","name":"get cached scale","func":"var temp = flow.get('SCALE');\n\nmsg.payload.scale = temp;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":380,"wires":[["54c3d715.bbfaa8"]]},{"id":"54c3d715.bbfaa8","type":"switch","z":"8930b4dd.4943f8","name":"","property":"payload.scale","propertyType":"msg","rules":[{"t":"eq","v":"c","vt":"str"},{"t":"eq","v":"f","vt":"str"},{"t":"eq","v":"k","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1090,"y":380,"wires":[["9ab6feae.684dc"],["489a596.f54cba8"],["d61bc090.738da"]]},{"id":"9ab6feae.684dc","type":"change","z":"8930b4dd.4943f8","name":"set msg.req.query.scale: c","rules":[{"t":"set","p":"req.query.scale","pt":"msg","to":"c","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":360,"wires":[["ed39e530.642f18"]]},{"id":"489a596.f54cba8","type":"change","z":"8930b4dd.4943f8","name":"set msg.req.query.scale: f","rules":[{"t":"set","p":"req.query.scale","pt":"msg","to":"f","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":420,"wires":[["60adf964.7c08b8"]]},{"id":"d61bc090.738da","type":"change","z":"8930b4dd.4943f8","name":"set msg.req.query.scale: k","rules":[{"t":"set","p":"req.query.scale","pt":"msg","to":"k","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":500,"wires":[["845e6a14.1002b8"]]},{"id":"2e555a1.ebce5a6","type":"template","z":"8930b4dd.4943f8","name":"to JSON","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"temperature\": {{payload}}\n}","output":"json","x":680,"y":640,"wires":[["f1e52100.4c28f"]]},{"id":"731f4b50.5048b4","type":"function","z":"8930b4dd.4943f8","name":"Set Http Header to JSON","func":"// If sending JSON data the content type is:\nmsg.headers={\"Context-Type\":\"application/json\"}\n\n// For HTML use the content type line below:\n//msg.headers={\"Content-Type\":\"text/html\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":640,"wires":[["40b6ff85.58f21"]]},{"id":"f1e52100.4c28f","type":"function","z":"8930b4dd.4943f8","name":"append scale and timestamp","func":"if (typeof msg.req.query.scale === 'undefined' || msg.req.query.scale == 'c') {\n    msg.payload.scale = \"Celsius\";\n}\nelse if (msg.req.query.scale == 'f') {\n    msg.payload.scale = \"Fahrenheit\";\n}\nelse if (msg.req.query.scale == 'k') {\n    msg.payload.scale = \"Kelvin\";\n}\nelse {\n    msg.payload.scale = \"Unknown query param\";\n}\n\nmsg.payload.timestamp = new Date().toString();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":580,"wires":[["731f4b50.5048b4","3cf9c51c.178c7a"]]},{"id":"40b6ff85.58f21","type":"http response","z":"8930b4dd.4943f8","name":"Http Response","statusCode":"","headers":{"content-type":"text/plain"},"x":1440,"y":780,"wires":[]},{"id":"3cf9c51c.178c7a","type":"debug","z":"8930b4dd.4943f8","name":"JSONata","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":700,"wires":[]},{"id":"4e688665.009d18","type":"comment","z":"8930b4dd.4943f8","name":"Temperature RESTful API (localhost) with Swagger interfactive documentation by Frank Ngumanenimana (ngum0004@algonquinlive.com)","info":"","x":490,"y":60,"wires":[]},{"id":"7bcc2213.3ee43c","type":"comment","z":"8930b4dd.4943f8","name":"Pre-Req: Teensy is running Standard Firmata Plus","info":"","x":230,"y":100,"wires":[]},{"id":"7043ce8c.5e9c9","type":"comment","z":"8930b4dd.4943f8","name":"Cycle C > F > K on each push of the button switch [scale]","info":"","x":1090,"y":200,"wires":[]},{"id":"13f3e831.e40ef8","type":"comment","z":"8930b4dd.4943f8","name":"Read thermistor, convert to Celsius and cache temperature(C)","info":"","x":260,"y":140,"wires":[]},{"id":"1f24be4d.8fe932","type":"comment","z":"8930b4dd.4943f8","name":"GET endpoint: /temperature/now?scale=c,f,k","info":"","x":170,"y":320,"wires":[]},{"id":"1436d20e.dfd74e","type":"comment","z":"8930b4dd.4943f8","name":"//README: https://cookbook.nodered.org/http/handle-query-parameters","info":"","x":250,"y":360,"wires":[]},{"id":"55c95d05.c4a054","type":"comment","z":"8930b4dd.4943f8","name":"Generated Swagger: http://localhost:1880/http-api/swagger.json","info":"","x":250,"y":560,"wires":[]},{"id":"b4543f4.a6ae6c","type":"arduino-board","device":"COM4"},{"id":"17d2c23.c9e4c3e","type":"swagger-doc","summary":"By Frank Ngumanenimana","description":"Get the current temperature, supported temperature scales: Celsisus (default), farhenheit, Kelvin. Format of timestamp: d Mon DD YYYY HH:MM:SS::TZ","tags":"Restful API for Temp","consumes":"D","produces":"Application/Json","parameters":[{"name":"Scale","in":"query","description":"?scale=[c | f | k], celsius is default","required":false,"type":"string"}],"responses":{"201":{"description":"Temperature","schema":{"properties":{"Temperature":{"type":"number"},"Scale":{"type":"string"},"Timestamp":{"type":"string"}}}}},"deprecated":false}]