Lab 9/flow-temperature-dashboard.json.txt.json
[{"id":"954e88bd.2c2088","type":"tab","label":"Temperature dashboard","disabled":false,"info":""},{"id":"58f596da.c27488","type":"arduino in","z":"954e88bd.2c2088","name":"Thermistor(A1)","pin":"1","state":"ANALOG","arduino":"b4543f4.a6ae6c","x":140,"y":100,"wires":[["b20455ae.179cd8"]]},{"id":"b20455ae.179cd8","type":"function","z":"954e88bd.2c2088","name":"Convert Pin(A1) to celsius","func":"var code = Number (msg.payload - 512);\nvar celsius =Number(25 + code / 11.3).toFixed(1);\nmsg.cel = celsius;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":100,"wires":[["17d951fb.39f65e"]]},{"id":"17d951fb.39f65e","type":"rbe","z":"954e88bd.2c2088","name":"Block non-change value","func":"deadband","gap":"0.2","start":"","inout":"out","property":"cel","x":610,"y":100,"wires":[["de3b64f7.ee2928"]]},{"id":"de3b64f7.ee2928","type":"function","z":"954e88bd.2c2088","name":"catch temperature","func":"var val = flow.get(\"val\") || 0;\nflow.set(\"val\",msg.cel);\nmsg.cel = val\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":100,"wires":[["a8004838.827bf8"]]},{"id":"cd199a0a.2a7de8","type":"debounce","z":"954e88bd.2c2088","time":"500","name":"debounce (500ms)","x":310,"y":200,"wires":[["2a34f37e.425e6c"]]},{"id":"599b6a96.19a024","type":"arduino in","z":"954e88bd.2c2088","name":"PBS (Pin 3)","pin":"3","state":"INPUT","arduino":"b4543f4.a6ae6c","x":90,"y":200,"wires":[["cd199a0a.2a7de8"]]},{"id":"2a34f37e.425e6c","type":"function","z":"954e88bd.2c2088","name":"Cycle Button Click 1,2,3,1...","func":"var clickCount = flow.get(\"pbsState\") || 0;\nclickCount++;\nif (clickCount == 4) clickCount = 1;\nflow.set(\"pbsState\",clickCount);\nmsg.payload = clickCount;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":300,"wires":[["c95aa776.20b3d8"]]},{"id":"c95aa776.20b3d8","type":"switch","z":"954e88bd.2c2088","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":510,"y":240,"wires":[["91b21ce6.26c0b","e664fb4c.bda948"],["6c43da69.ea5774","c2382a62.8b3388"],["e81c6c2b.f38c1","79155105.a1981"]]},{"id":"91b21ce6.26c0b","type":"function","z":"954e88bd.2c2088","name":"Get Cached Temperature","func":"msg.payload=  Number(flow.get(\"val\") || 0).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":240,"wires":[["a294e19.a92562"]]},{"id":"6c43da69.ea5774","type":"function","z":"954e88bd.2c2088","name":"Get Cached Temperature","func":"var celValue = flow.get(\"val\") || 0;\nflow.set(\"celValue\", celValue);\nmsg.payload = celValue;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":280,"wires":[["1f2d079a.9652a8","7e45343e.68939c"]]},{"id":"e81c6c2b.f38c1","type":"function","z":"954e88bd.2c2088","name":"Get Cached Temperature","func":"var celValue = flow.get(\"val\") || 0;\nflow.set(\"celValue\", celValue);\nmsg.payload = celValue;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":320,"wires":[["b8bc416f.e95be"]]},{"id":"75b735e4.5bcc2c","type":"template","z":"954e88bd.2c2088","name":"Temperature (C)","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Temperature : {{payload}} ° Celsius","output":"str","x":1260,"y":200,"wires":[["a640e478.31a5f8"]]},{"id":"a640e478.31a5f8","type":"debug","z":"954e88bd.2c2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1450,"y":160,"wires":[]},{"id":"1f2d079a.9652a8","type":"function","z":"954e88bd.2c2088","name":"Convert Celsius to F","func":"\nmsg.payload = Number (msg.payload * 1.8 + 32).toFixed(1);\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":280,"wires":[["d5e144d9.4415b8","4c599a0b.f1f494","67202a47.69d874","7e45343e.68939c"]]},{"id":"d5e144d9.4415b8","type":"template","z":"954e88bd.2c2088","name":"Temperature (F)","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Temperature  : {{payload}} ° Fahrenheit","output":"str","x":1240,"y":260,"wires":[["da8c0e20.a5c45"]]},{"id":"da8c0e20.a5c45","type":"debug","z":"954e88bd.2c2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1470,"y":240,"wires":[]},{"id":"b8bc416f.e95be","type":"function","z":"954e88bd.2c2088","name":"Convert celsius to K","func":"\nmsg.payload = Number ((msg.payload * 1)+273.15).toFixed(1);\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":320,"wires":[["7ca30c3d.aa4174","e469693f.825ca8","2716f63c.f3e85a","7e45343e.68939c"]]},{"id":"7ca30c3d.aa4174","type":"template","z":"954e88bd.2c2088","name":"Temperature (K)","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Temperature : {{payload}} ° Kelvin","output":"str","x":1260,"y":320,"wires":[["c8b62019.89689"]]},{"id":"c8b62019.89689","type":"debug","z":"954e88bd.2c2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1490,"y":320,"wires":[]},{"id":"a8004838.827bf8","type":"debug","z":"954e88bd.2c2088","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":60,"wires":[]},{"id":"7e45343e.68939c","type":"ui_gauge","z":"954e88bd.2c2088","name":"Gauge","group":"4a3ee428.366c4c","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"{{msg.unit}}","format":"{{msg.payload}}","min":"0","max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":480,"wires":[]},{"id":"3783adc4.55f242","type":"ui_chart","z":"954e88bd.2c2088","name":"Graph celsius","group":"4a3ee428.366c4c","order":0,"width":0,"height":0,"label":"Temperature °C","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":700,"y":620,"wires":[[]]},{"id":"4c599a0b.f1f494","type":"ui_chart","z":"954e88bd.2c2088","name":"Graph Fahrenheit","group":"4a3ee428.366c4c","order":1,"width":0,"height":0,"label":"Temperature °F","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"32","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":690,"y":660,"wires":[[]]},{"id":"e469693f.825ca8","type":"ui_chart","z":"954e88bd.2c2088","name":"Graph Kelvin","group":"4a3ee428.366c4c","order":2,"width":0,"height":0,"label":"Temperature °K","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"200","ymax":"400","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":670,"y":720,"wires":[[]]},{"id":"1a73cb65.6c6515","type":"ui_audio","z":"954e88bd.2c2088","name":"SayIt","group":"3b97b2cd.14372e","voice":"Google UK English Female","always":true,"x":1170,"y":640,"wires":[]},{"id":"5e3bbf40.e4886","type":"template","z":"954e88bd.2c2088","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"The Temperature is : {{payload}} ° Celsius","output":"str","x":980,"y":600,"wires":[["1a73cb65.6c6515"]]},{"id":"67202a47.69d874","type":"template","z":"954e88bd.2c2088","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"The Temperature is : {{payload}} ° Fahrenheit","output":"str","x":980,"y":640,"wires":[["1a73cb65.6c6515"]]},{"id":"2716f63c.f3e85a","type":"template","z":"954e88bd.2c2088","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"The Temperature is : {{payload}} ° Kelvin","output":"str","x":980,"y":700,"wires":[["1a73cb65.6c6515"]]},{"id":"e664fb4c.bda948","type":"change","z":"954e88bd.2c2088","name":"Celsius","rules":[{"t":"set","p":"max","pt":"global","to":"0","tot":"num"},{"t":"set","p":"min","pt":"global","to":"0","tot":"num"},{"t":"set","p":"label","pt":"msg","to":"Temperature","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"°C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":440,"wires":[["7e45343e.68939c"]]},{"id":"cabeb617.cef908","type":"inject","z":"954e88bd.2c2088","name":"Time(1s)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"0","payloadType":"num","x":140,"y":680,"wires":[["39a0502b.ba76"]]},{"id":"39a0502b.ba76","type":"change","z":"954e88bd.2c2088","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":680,"wires":[["7e45343e.68939c"]]},{"id":"c2382a62.8b3388","type":"change","z":"954e88bd.2c2088","name":"Fahrenheit","rules":[{"t":"set","p":"max","pt":"global","to":"70","tot":"num"},{"t":"set","p":"min","pt":"global","to":"32","tot":"num"},{"t":"set","p":"label","pt":"msg","to":"Temperature","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"°F","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":480,"wires":[["7e45343e.68939c"]]},{"id":"79155105.a1981","type":"change","z":"954e88bd.2c2088","name":"Kelvin","rules":[{"t":"set","p":"max","pt":"global","to":"400","tot":"num"},{"t":"set","p":"min","pt":"global","to":"200","tot":"num"},{"t":"set","p":"label","pt":"msg","to":"Temperature","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"°K","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":520,"wires":[["7e45343e.68939c"]]},{"id":"a294e19.a92562","type":"function","z":"954e88bd.2c2088","name":"Convert Celsius","func":"\nmsg.payload = Number (msg.payload * 1).toFixed(1);\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":240,"wires":[["75b735e4.5bcc2c","7e45343e.68939c","5e3bbf40.e4886","3783adc4.55f242"]]},{"id":"b2bedfcb.ab3ab","type":"comment","z":"954e88bd.2c2088","name":"Temperature Dashboard by Frank Ngumanenimana (Ngum0004@algonquinlive.com))","info":"","x":330,"y":20,"wires":[]},{"id":"27865e1f.713172","type":"comment","z":"954e88bd.2c2088","name":"Pre-Req: Teensy is running Standard Firmata Plus","info":"","x":230,"y":60,"wires":[]},{"id":"e487a69d.c99388","type":"comment","z":"954e88bd.2c2088","name":"Press PBS to toggle scale: C>F>K>C...","info":"","x":170,"y":160,"wires":[]},{"id":"a0fa76b5.ac1aa8","type":"comment","z":"954e88bd.2c2088","name":"Getting the value of temperature","info":"","x":730,"y":200,"wires":[]},{"id":"27c1fade.e785a6","type":"comment","z":"954e88bd.2c2088","name":"Functions to convert C to F, C to K ....","info":"","x":1050,"y":180,"wires":[]},{"id":"e3ad554.04bf7a8","type":"comment","z":"954e88bd.2c2088","name":"Template used on say it","info":"","x":980,"y":540,"wires":[]},{"id":"dbefa0b3.5afb9","type":"comment","z":"954e88bd.2c2088","name":"Charts","info":"","x":690,"y":580,"wires":[]},{"id":"7021d540.1683ec","type":"comment","z":"954e88bd.2c2088","name":"Gauge","info":"","x":610,"y":420,"wires":[]},{"id":"abf02658.612658","type":"comment","z":"954e88bd.2c2088","name":"Setting ui  and properties","info":"","x":330,"y":400,"wires":[]},{"id":"b4543f4.a6ae6c","type":"arduino-board","device":"COM4"},{"id":"4a3ee428.366c4c","type":"ui_group","name":"Gauge","tab":"b406c9cf.6b7608","order":4,"disp":true,"width":"6","collapse":false},{"id":"3b97b2cd.14372e","type":"ui_group","name":"System Information","tab":"c4c0e2ef.d4aa2","order":1,"disp":true,"width":"6","collapse":false},{"id":"b406c9cf.6b7608","type":"ui_tab","name":"Temperature","icon":"dashboard","disabled":false,"hidden":false},{"id":"c4c0e2ef.d4aa2","type":"ui_tab","name":"System","icon":"computer"}]